<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>Cookie Clicker - Login</title>
    </head>
    <body>
        <div class="login-container">
            <h1>Welcome to Testudo Clicker!</h1>
            <p class="welcome-message">
                Get ready to click Testudo and have a laugh &#128514 <br>  Enter or create your username to continue</p>
            <form action="/login" method="POST">
                <input type="text" name="username" required />
            </form>
        </div>
    </body>
</html>
